:root{
    --pale-blue:hsl(225, 100%, 94%);
    --bright-blue:hsl(245, 75%, 52%);
    --very-pale-blue:hsl(225, 100%, 98%);
    --desaturated-blue:hsl(224, 23%, 55%);
    --dark-blue:hsl(223, 47%, 23%);
    --font-size:16px;
}

body {
    background-image: url("/order-summary-component-main/images/pattern-background-desktop.svg");
    background-color: var(--pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-family: 'Red Hat Display', sans-serif;      
}


.card {
    display: flex;
    height: 700px;
    width: 500px;
    border-radius: 1em;
    flex-direction: column;
    background-color: white;
    font-size: var(--font-size);
}


.card-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 0 10%;
    flex-grow: 2;
}

/* illustration hero image */
img {
    border-radius: 12px 12px 0px 0px;
}

/* Title and description */
.description {
    text-align: center;
}

.description > p {
    color: var(--desaturated-blue);
}

/* Subscription */
.subscription { 
    display: flex;
    justify-content: space-around; 
    align-items: center ;
    background-color: var(--very-pale-blue);
    border-radius: 0.5em;
}

.tarif {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.tarif > h3{
    margin-bottom: 0;
}

.tarif > p{
    margin-top: 0;
    color: var(--desaturated-blue);
}

.change {
    margin-right: 1em;
}

.icon {
    margin: 0 1em;
}


/* Buttons */

.payment {
    color: var(--very-pale-blue);
    background-color: var(--bright-blue);
    box-shadow: 0px 20px 2px 5px var(--very-pale-blue);
    border-radius: 0.5em;
    cursor: pointer;
    height: 3em;
    outline: none;
    border: none;
    font-weight: 600;
}

.payment:active {
    background-color: var(--bright-blue);
    transform: translateY(3px);
}

.cancel {
   text-decoration: none; 
   color: var(--desaturated-blue);
   text-align: center;
   font-weight: 500;
   margin-top: 0;
   align-self: center;
}






